#show-article-details
#show-article-comments
button#deleteArticle.btn.btn-danger
    | Delete
button#updateArticle.btn.btn-default
    | Update article
button#createComment.btn.btn-default
    | Comment


