.container1
    .form-inline(role="form")
        .form-group
            label(for="email")
                | Email:
            input.form-control#email(type="email" placeholder="Enter email")
            br
        .form-group
            label(for="password")
                | Password
            input.form-control#pwd(type="email" placeholder="Enter password")
            br
        .checkbox
            label
                input(type="checkbox")
                | Remeber me
        button.btn.btn-default
            |Submit
hr
#blockquote2
    h2
        |Contact
    p
        | Adresa: Strada Mihai Bravu,Targoviste, nr 4, bl. B9 ,sc. A, et. 5,apt. 25 ,jud. Damvobita
    p
        | Telefon : 0733568759
    p
        | Email : diana.tichie@yahoo.com

