body {
  background-image: url(http://wallpapertica.com/uploads/20141007/vesna+vesna+vishnya+makro+fotoshop+babochki+tcveti+vetka+belij+fon+41241911456.jpg);
}
.container{
  background: transparent;
}
#myCarousel{

  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  margin-top:5%;

  ol.carousel-indicators{
    margin-bottom: 10%;
  }
  a.left{
    margin-left: 5%;
    margin-bottom: 12%;
    margin-top:5%;

  }
  a.right{
    margin-right: 10%;
    margin-bottom :12%;
    margin-top:5%;
  }
}
.col-md-4#content1{
  h3{
    font-family: Impact cursive;
    color: rgba(39, 70, 209, 0.53);

  }
  p{
    font-family: Brush Script MT;
    color:black;
    font-size: large;
    text-align: justify;

  }
}

.col-md-4#content2{
  h3{
    font-family: Impact cursive;
    color: rgba(39, 70, 209, 0.53);

  }
  p{
    font-family: Brush Script MT;
    color:black;
    font-size: large;
    text-align: justify;

  }
}

.row{
  h1{
    font-family: Impact cursive;
    color: rgba(39, 70, 209, 0.53);
    text-align: center;
    text-shadow: 2px 2px;
  }
}
.col-md-4#sidebar {
  border-style: solid;
  border-width: 2px;
  border-color: #a83aff;
  background-color: rgba(255, 195, 233, 0.44);
  font-family: Georgia;
  color: #0000b1;
  h2 {
    font-family: Georgia bold;
    color: black;
    text-align: center;
  }
  a {
    a {
      text-decoration: none;
      display: block;
      width: 60px;
      background-color: #dddddd;
    }
  }
}
