nav.navbar.navbar-inverse
	.container-fluid
		div
			ul.nav.navbar-nav
				li.active
					a(href="#")
						|Acasa
				li.dropdown
					a.dropdown-toggle(data-toggle="dropdown" href="#")
						|Articole

				li
					a(href="#")
						|Despre mine
				li
					a(href="#")
						|Contact
