nav.navbar.navbar-inverse
	.container-fluid
		div
			ul.nav.navbar-nav
				li.active
					a(href="#")
						|Acasa
				li
					a(href="#despreMine")
						|Despre mine
				li
					a(href="#contact")
						|Contact
