.blockquote1
    h2
        <%- model.title %>
    hr
    p
        <%- model.description %>
button#viewMore.btn.btn-default
    | View More
button#deleteArticle.btn.btn-danger
    | Delete
button#updateArticle.btn.btn-default
    | Update article
button#createArticle.btn.btn-default
    | Creare articol
