body
br
#myCarousel.carouselslide(data-ride="carousel" float="center")
	ol.carousel-indicators
		li(data-target="#myCarousel" data-slide-to="0").active
		li(data-target="#myCarousel" data-slide-to="1")
		li(data-target="#myCarousel" data-slide-to="2")
		li(data-target="#myCarousel" data-slide-to="3")
		li(data-target="#myCarousel" data-slide-to="4")
	.carousel-inner(role="listbox")
		.item.active
			img(src="../../static/1.jpg")
		.item
			img(src="../../static/2.jpg")
		.item
			img(src="../../static/3.jpg")
		.item
			img(src="../../static/4.jpg")
		.item
			img(src="../../static/5.jpg")
	a.left.carousel-control(href="#myCarousel" role="botton" data-slide="prev")
		span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
		span.sr-only
			| Previous
	a.right.carousel-control(href="#myCarousel" role="botton" data-slide ="next")
		span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
		span.sr-only
			| Next
.row
	h1
		| Cele mai vizionate articole
.col-md-4#content1
	h3
		| Despre viata
	p
		| Fiecare om nu intra in viata noastra intamplator. Si, la fel de intamplator, nu iese din ea. Fiecare poveste, fiecare sarut si imbratisare isi au rostul lor, scopul lor si invatatura pentru o zi sau o viata intreaga. Ceea ce traim azi ne poate convinge de anumite lucruri, ceea ce iubim azi ne poate schimba pentru totdeauna. Oamenii sunt facuti nu doar ca sa isi traiasca viata lor, dar sa faca parte si din viata altora, sa joace acel rol predestinat. Pana la urma, suntem gramada de oameni pe care i-am intalnit, discutiile aprinse sau de suflet pe care le-am avut cu ei, povestile pe care le-am ascultat si amintirile care au ramas...
		a(href="#")
			|Learn more
			form(role="form")
				.form-group
					label(for="comment")
						|Comment
					textarea#comment.form-control(rows="5")
.col-md-4#content2
	h3
		| Oamenii stiu de ce...
	p
		| Eu Cred..
	p
		| Ca nu trebuie sa ne schimbam prietenii,
	p
		| Daca intelegem ca prietenii se schimba.
	p
		| Eu Cred...
	p
		| Ca indiferent cat de bun este un prieten,
	p
		| El tot te va rani, din cand in cand,
	P
		| Iar tu trebuie sa-l ierti pentru asta.
	p
		| Eu Cred...
	p
		| Ca o adevarata prietenie continua sa creasca,
	p
		| Chiar si la distantele cele mai mari.
	p
		| Eu Cred...
		a(href="#")
			|Learn more
			form(role="form")
				.form-group
					label(for="comment")
						|Comment
					textarea#comment.form-control(rows="5")
.col-md-4#sidebar
	h2
		|Doua raspunsuri pentru un plus de motivatie
	p
		| Cu ce chef te-ai trezit in aceasta dimineata?
	p
		|Daca te-ai trezit demotivat si te-ai obisnuit cu aceasta stare in fiecare dimineata, afla ca exista doua motive esentiale pentru asta.

	p
		|1. fie nu stii cine esti cu adevarat, ce iti doresti, cum iti poti exprima mai bine talentele

	p
		|2. fie nu stii pe cine iti doresti sa servesti, cine este clientul tau ideal.

	h5
		|Ultimele articole adaugate
	ol
		li Septembrie
			ul
				li
				a(href="#")
					|Despre viata...
				li
				a(href="#")
					|Oamenii stiu de ce !
		li Octombrie
			ul
				li
				a(href="#")
					|Eu cred
				li
				a(href="#")
					|Oare!?

