.container
    .col-md-8
        img(src="../../static/back.jpg" width="304" height="236" float="left").img-circle
        h3
            |DESPRE MINE
        p
            | Cu toti stim sau vrem sa stim de ce exista atatia oameni tristi in ziua de azi , de ce zilnic ne commfruntam cu probleme de genul "azi o tanara in varsta de 12 a fost violata de un barbat de 65 de ani" etc ...mi-a venit ideea de a infiinta acest blog pentru a putea intelege toate aceste probleme intalnite azi care pe vremea bunicilor mei sau chiar a mamei mele nu existau atat de multe cazuri de acest gen . As dorii ca alaturi de voi sa pot ca sa inteleg ce se intampla cu adevarat in ziua de azi cu lumea care ne inconjoara ...
        p
            | Majoritatea baietilor cand scriu comment-uri au fantezii nu sentimente ( iti spun ca esti sexy , ca ai picioare atragatoare , sani frumosi , ochi mumosi , buze dulci ) Iti spun ca esti fermecatoare , provocatoare , frumoasa , pretioasa , dragutza , scumpa ! Nu se gandesc la frumusetea inimii si a sufletului ! Din comment-urile lor va dati seama ca sunt obsedati de sex ! Unele persoane nu stiu ca IUBIREA este o satisfactie mai mare decat sexul ! Fiecare persoana are ceva deosibit ceea ce il face diferit fata de alte persoane ) Lumea ar trebui sa scrie ce simte ! Nu spun ca este rau sa ii scrii unei persoane ca arata bine ... bla bla bla NUMAI ca ar trebui pretuita si frumusetea interioara ! In acest comment sunt sigur ca se regaseste aproape orice fata ! de aceea l-am trimis la mai multe fete ! Sunt constient ca multi baieti ma vor injura etc ... Ma refer la cei ce ii supara adevarul ! Fiecare om are defecte si trebuie sa ni le corectam ! Hai ca deja o dau in Eminescu =)) Ce am scris eu nu este o morala pt ca nu sunt in masura sa fac asa ceva ! Este doar o simpla parere si sunt sigur ca multe persoane imi dau dreptate Astept sugestii sau injurii pe hi5 meu daca m-am inselat sau daca am dreptate...un coment ceva....daca ai placera un five...hai ca sunt constient ca deja ma intind si nu are rost :P :-* Cateodata pentru barbati femeia este un trofeu nu jumateatea inimii lui ! Daca il intrebi ce calitati are iubita , colega , prietena ..... va raspunde ca are sani frumosi , buze dulci , picioare lungi ... Dar nu se gandeste si la celelalte calitati pe care le poate avea o femeie ( atenta cu persoana de langa ea , inteleapta , sincera , intelegatoare , speciala , deosebita , simpla , romantica etc ) Ei se gandesc numai la exterior nu stiu ca ce este frumos vine din interior ! Pentru mine toate fetele sunt frumoase in felul lor ! Fiecare fata are ceva deosebit ce o face diferita de celelelte fete ! Daca toti am fi le fel ne-am plictisi ! Fiecare lucru are frumusetea lui, dar nu oricine o vede ! Adevarata frumusete izvoraste din sublim si simplitate. ! O fata nu trebuie judecata dupa calitatile ei ci dupa felul cum stie sa si le foloseasca ! Majoritatea barbatilor vor ca iubitele lor sa fie modele , fotomodele , vedete ... Nu isi dau seama ca orice fata poate fi pentru ei fotomodel ... etc ... poate chiar mai mult de atat POATE FI JUMATATEA LUI ! Cand nu ai ceea ce-ti place, trebuie sa-ti placa ceea ce ai.! Iubirea nu poate fi cumparata de aceea cel mai bine ar fi sa gandim cu inima ! Daca ati primit si primul comentariu veti intelege ce spun acum : !!!! Complimentele se plaseaza ca banii la bursa : urmarind profitul pe care il aduc !!!! Am vorbit cam mult despre defectele celorlalti si cand vorbesti prea mult despre defectele altora , nu mai ai timp sa le indrepti pe ale tale ! Mi s-au dat doua urechi si o singura gura , pentru a asculta de doua ori mai mult decat sa vorbesc ! asta voi face si eu de acum ...... ce am avut de spus am spus ! sper ca ati inteles ceva din ce am scris !!! Tot ce am scris a fosto parere nu o morala ....... Dupa cum am mai spus nu sunt in masura sa tin morala celorlalti !!!
    .col-md-4
        h5
            | Persoanele cele mai importante
        hr
        .img
            img(src="../../static/bia.jpg" width="110" height="90")
            a(target="_blank" href="../../static/bia.jpg")
                .desc
                     p
                        | Ea este cea mai buna prietena a mea, este persoana cu care timp de 7 luni am impartit acelasi "habitat" si persoana care indiferent de situatie e langa mine !
        hr
        .img
            img(src="../../static/maya.jpg" width="110" height="90")
            a(target="_blank" href="../../static/maya.jpg")
                .desc
                    p
                        | Maya Andreea este o fiinta gingasa pe care am supravegheat-o inca de la primi pasi in viata !
        hr
        .img
            img(src="../../static/tata.jpg" width="110" height="90")
            a(target="_blank" href="../../static/tata.jpg")
                .desc
                    p
                        | ehh...tata ,este cel care ma iubeste inca de cand sunt mica si pentru care am fost preferata lui in ciuda tuturor nazbatiilor facute si cel de la care am invatat ca orice este posibil in vita !
        hr
        .img
            img(src="../../static/mama.jpg" width="110" height="90")
            a(target="_blank" href="../../static/mama.jpg")
                .desc
                    p
                        | Mama este persoana care mi-a dat viata ,cea care ma incurajeaza si care face tot ceea ce este nevoie pentru a deveni cineva in viata asta si careia am sa ii multumesc pentru faptul ca mi-a dat viata si m-a invatat tot ceea ce stiu acum !
        hr
        iframe(type='text/html' width='100%' height='200'
        src='https://www.youtube.com/embed/kTZECNI6emM'
        frameborder='0')
